<section id="menu">
  <div id="menu-icon">
    <img src="../images/menu-icon.png" alt="menu-icon">
  </div>

  <ul>
    <li><a href="/previa">Prévia</a></li>
    <li><a href="/restricoes">Restrições</a></li>
    <li><a href="/militares">Militares</a></li>
    <li><a href="/historico">Histórico</a></li>
    <li><a href="/tutorial">Tutorial</a></li>
  </ul>
  
</section>

<header>
  <ul>
    <li><a href="#">Adicionar</a></li>
    <li><a href="#">Editar</a></li>
    <li>
      <div id="enable-filter">
        <p>Filtrar</p>
      <img src="../images/down-arrow-icon.png" alt="">
    </div>
  </li>
    <li>
      <div id="user-icon">
        <img src="../images/user-icon.png" alt="user-icon">
      </div>
    </li>
  </ul>
  
</header>

<section id="filter-bar">
  <div class="filter-option" id="patente-filter">
    <label>Patente</label>
    <input  type="text">
  </div>
  <div class="filter-option" id="militar-filter">
    <label>Militar</label>
    <input class="w3-input" type="text">
  </div>
  <div class="filter-option" id="escala-filter">
    <label>Escala</label>
    <input type="text">
  </div>
  <div class="filter-option" id="categoria-filter">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>preta</p>
    </label>
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>vermelha</p>
    </label>
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>externa</p>
    </label>
  </div>
  <div class="filter-button" id="filter">
    <p>Filtrar</p>
  </div>
</section>

<main>
  
</main>