<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

  <title>Workflow</title>
  <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/ringtone-music-instruments/512/letter-w-key-keyboard-2-1024.png">
  
  <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>

  <section id="menu">
    <div id="menu-icon">
      <img src="../imagens/588a6507d06f6719692a2d15-2926218537.png" alt="menu-icon">
    </div>

    <ul>
      <li><a href="#">Prévia</a></li>
      <li><a href="#">Restrições</a></li>
      <li><a href="#">Militares</a></li>
      <li><a href="#">Histórico</a></li>
      <li><a href="#">Tutorial</a></li>
    </ul>
    
  </section>

  <header>
    <ul>
      <li><a href="#">Adicionar</a></li>
      <li><a href="#">Editar</a></li>
      <li>
        <div id="enable-filter">
          <p>Filtrar</p>
        <img src="../imagens/down arrow icon.png" alt="">
      </div>
    </li>
      <li>
        <div id="user-icon">
          <img src="../imagens/user icon.png" alt="user-icon">
        </div>
      </li>
    </ul>
    
  </header>

  <section id="filter-bar">
    <div class="filter-option" id="patente-filter">
      <label>Patente</label>
      <input  type="text">
    </div>
    <div class="filter-option" id="militar-filter">
      <label>Militar</label>
      <input class="w3-input" type="text">
    </div>
    <div class="filter-option" id="escala-filter">
      <label>Escala</label>
      <input type="text">
    </div>
    <div class="filter-option" id="categoria-filter">
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>preta</p>
      </label>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>vermelha</p>
      </label>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>externa</p>
      </label>
    </div>
    <div class="filter-button" id="filter">
      <p>Filtrar</p>
    </div>
  </section>

  <main>
    <section id="table-container">
      <div id="table">

        
          <div class="table-title"><p>Setembro</p></div>

          <div class="table-body">

            <div class="table-head">
              <div class="table-header"><p>01</p></div>
              <div class="table-header"><p>02</p></div>
            </div>
            
            <div class="table-row">
              <div class="table-content">
                <p>soldado 1</p>
              </div>
            </div>

          </div>

      </div>
    </section>
  </main>

  <script src="../js/escala.js"></script>

</body>

</html>