<main>

  <form action="/previa" method="post">

    <div id="user-icon">
      <img src="../images/user-icon.png" alt="user-icon">
    </div>

    <div id="login-info">
      <input type="text" placeholder="Usuário" name="user">
      <input type="text" placeholder="Senha" name="password">
      <button type="submit" value="submit">ENTRAR</button>
    </div>

  </form>

</main>