<section id="menu">
  <div id="menu-icon">
    <i class="bi bi-list"></i>
  </div>

  <ul>
    <li><a href="/previa">Prévia</a></li>
    <li><a href="/restricoes">Restrições</a></li>
    <li><a href="/militares">Militares</a></li>
    <li><a href="/historico">Histórico</a></li>
    <li><a href="/tutorial">Tutorial</a></li>
  </ul>
  
</section>

<main>

  <header>
    <ul>
      <li><a href="#">Editar</a></li>
      <li>
        <div id="enable-filter">
          <p>Filtrar</p>
          <i class="bi bi-arrow-bar-down active" id="arrow-down"></i>
          <i class="bi bi-arrow-bar-up" id="arrow-up"></i>
      </div>
    </li>
      <li>
        <div id="user-icon">
          <img src="../images/user-icon.png" alt="user-icon">
        </div>
      </li>
    </ul>
  </header>

  <section id="filter-bar">
    <div class="filter-option" id="patente-filter">
      <label>Organização</label>
      <input type="text">
    </div>
    <div class="filter-option" id="patente-filter">
      <label>Patente</label>
      <input type="text">
    </div>
    <div class="filter-option" id="militar-filter">
      <label>Militar</label>
      <input type="text">
    </div>
    <div class="filter-option" id="escala-filter">
      <label>Escala</label>
      <input type="text">
    </div>
    <div class="filter-option" id="categoria-filter">
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>Preta</p>
      </label>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>Vermelha</p>
      </label>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <p>Externa</p>
      </label>
    </div>
    <div class="filter-button" id="filter">
      <p>FILTRAR</p>
    </div>
  </section>

  <section id="table-container">
    <div id="table">

        <div id="table-body">

          <div id="table-head">
            <div class="table-header">Nome de Guerra<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Identidade</i></div>
            <div class="table-header">OM<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Patente<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Nome Complemento<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">QAs<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Data de Nascimento<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Data de Promoção<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">CfcCasCao<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Habilitação<i class="bi bi-caret-down-fill"></i></div>
            <div class="table-header">Ativo<i class="bi bi-caret-down-fill"></i></div>
          </div>

        </div>

    </div>
  </section>
</main>