@mixin flex-center($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin option($cursor){
    color: rgb(20, 20, 20);
    font-family: 'Poppins', sans-serif;
    user-select: text;
    cursor: $cursor;
    -webkit-user-select: none;
    letter-spacing: 0.2vw;
    text-decoration: none;
    outline: none;
}