@import "variables";
@import "mixins";

body{
    background-color: $whiteColor;
}

form{
    @include flex-center(column);
    @include option(default);

    height: 100vh;
    width: 100vw;

    button{
        @include flex-center(column);
        @include option(pointer);

        font-weight: bold;

        height: 10%;
        width: 15%;
        margin-top: 1%;

        border-radius: 1vh;
        border: .2vw solid $primaryColor;

        transition: .2s;

        &:hover{
            color: white;
            background-color: $primaryColor;

            transition: ease .2s;
        }
    }
}

