<section id="menu">
  <div id="menu-icon">
    <i class="bi bi-list"></i>
  </div>

  <ul>
    <li><a href="/previa">Prévia</a></li>
    <li><a href="/restricoes">Restrições</a></li>
    <li><a href="/militares">Militares</a></li>
    <li><a href="/historico">Histórico</a></li>
    <li><a href="/tutorial">Tutorial</a></li>
  </ul>
  
</section>

<header>
  <div id="header-item">
    <div id="user-icon">
      <img src="../images/user-icon.png" alt="user-icon">
    </div>
  </div>
</header>

<main>

<section class="section">
  <h1>Prévia</h1>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>
    
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>
</section>

<section class="section">
  <h1>Restrições</h1>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>
</section>
  
<section class="section">
  <h1>Militares</h1>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>
</section>

<section class="section">
  <h1>Histórico</h1>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>

  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad provident obcaecati laborum saepe excepturi temporibus minima! Amet veniam neque fugit iusto. Voluptatem perferendis distinctio facilis consequuntur mollitia et velit perspiciatis.
  </div>
</section>
  
</main>